* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  height: auto;
}

nav {
  width: 100%;
  height: max-content;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .links {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0 1rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  align-items: center;
  justify-content: center;
}

.links li {
  padding: 1rem 1.5rem;
  font-weight: bold;
  transition: .4s ease-in-out all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 .5rem;

}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 3rem;
}

.rightside {

  height: max-content;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;


}

.rightside .navig {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.navig li {
  width: 100%;
  padding: 1rem;
  transition: .4s ease-in-out all
}

.navig li:hover,
nav li:hover {
  background-color: #333;
  color: #fff;
}

.active {
  background-color: #333;
  color: #fff;
}


.posts {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  overflow-y: scroll;
  padding: 1rem;
  overflow-x: hidden;
}

.posts .heading {
  font-size: 60px;
}

.posts .post {
  max-height: max-content;
  padding: 1rem;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px
}

.post .publisher {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: .5rem;
  background-color: #333;
  color: whitesmoke;
  border-radius: 20px;

  height: max-content
}

.publisher .pi {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 0.5rem;

}

.publisher .pi span {
  display: inline-block;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.popup {
  width: 180px;
  position: absolute;
  top: calc(100% + 18px);
  left: (-90px - 50%);
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  height: max-content;
  border-radius: 15px;
  display: none;
  opacity: 0;
  box-shadow: 0 0 20px #333;

}

.popup ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
  height: 100%
}

.popup ul li {
  padding: .5rem;
}

.popup ul li:last-child {
  color: red;
}

.popup ul li:hover {
  background-color: #333;
  color: #fff;
  border-radius: 14px;
}

.popup:after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  top: -25px;
  left: calc(50% - 12.5px);
  background-color: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.menu:hover .popup {
  display: flex;
  animation: show .3s ease-in-out forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

.pi .pimage {
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #333;
  overflow: hidden
}
.pi .pimage img{
  width:100%;
  height: 100%;
}
.pi .name {
  font-size: 1rem;
  font-weight: 200
}

.post .content {
  width: 100%;
  padding: 1.5rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .image {
  text-align: center;
  width: 100%;

}

.image img {
  width: 100%;
}

.toggle {
  display: none;
}


.post .reaction-pop{
  margin-top:.5rem;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding:.3rem;
  border-radius: 14px;
}
.post .reaction-pop div{
  flex:.5;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background-color: whitesmoke;
  height: 100%;
  transition: .4s ease-in-out all;


  
}
.post .reaction-pop .like{
  border-radius: 14px 0 0 14px;
  font-size:1.6rem;

}

.post .reaction-pop .comment{
  border-radius: 0 14px 14px 0;
  background-color: #333;
  color: whitesmoke;

}
 .post .reaction-pop .liked{
  color:#FF0024;
  background-color: #333;
}

.post .reaction-pop .comment:hover{
  background-color: whitesmoke;
  color:#333;
}

.footer {
  padding: 2rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: #333;
  color: whitesmoke;
  gap: 1rem
}

.footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;

}

.row ul {
  list-style: none;
  width: 100%;
}

.row ul li {
  margin-bottom: .2rem;
  width: 100%;

}

.row ul li:hover {
  background-color: #333;
  color: whitesmoke;
}

.row h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem
}

.footer .col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.col-4 .logo img {
  width: 6rem;
}

.col-4 .social {
  margin-top: .5rem;
  font-size: 1.5rem
}

.footer .row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.footer .row2 div {
  display: flex;
  gap: 1rem
}

.footer .row2 div p {

  cursor: pointer;

}

li {
  cursor: pointer;
}

@media only screen and (max-width:850px) {
  nav {
    gap: .5rem;
    padding: .4rem;
    padding-bottom: 0;

  }
  nav .logo img{
    width:2rem;
  }

  .links li {
    border-radius: 10px 10px 0 0;

  }

  nav li span {
    display: none;
    font-size: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .rightside {
    position: fixed;
    top: calc(50% + 5vh);
    width: 120px;
    transform: translateY(-50%);
    right: -120px;
    transition: .4s all ease-out;
  }

  .toggle {
    display: block;
    position: absolute;
    width: 20px;
    height: 60px;
    left: -20px;
    background-color: #333;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
    border-radius: 10px 0 0 10px;

  }

  .show {
    right: 0;
  }


  .footer .row {
    grid-template-columns: 1fr;
    gap: 1.5rem
  }

  .row2 p {
    text-align: center
  }
}
